.info {
	width: 600px;
	padding: 50px 30px;
	display: flex;
	justify-content: space-between;
}

.info:hover {
	background-color: #333;
	color: #f2f2f2;
}

.info__genre {
    font-family: Arial, Helvetica, sans-serif;
	opacity: .6;
	margin-bottom: 2px;
}

